<div class="col-md-4 textCenter about-equipment--left">
  <h1 class="bold noPadding"> {{{sectionContentSplit.leftContent}}}</h1>
</div>
<div class="col-md-6 col-md-offset-1 about-equipment--right">
  <div class="about-equipment--right-sub font-xs bold">
    <div class="side-by-side about-equipment--right-subItem">
      <p class="noPadding">{{{sectionContentSplit.rightSideBySideLeft}}}</p>
    </div>
    <div class="side-by-side about-equipment--right-subItem">
      <p class="noPadding">{{{sectionContentSplit.rightSideBySideRight}}}</p>
    </div>
  </div>
</div>