<div class="col-md-4 textCenter about--left">
  <h1 class="bold"> {{{sectionContentSplit.leftContent}}}</h1>
</div>
<div class="col-md-6 col-md-offset-1 about--right">
  <div class="about--right-sub paddingTop25 font-xs bold">
    <div class="side-by-side about--right-subItem">
      <p>{{{sectionContentSplit.rightSideBySideLeft}}}</p>
    </div>
    <div class="side-by-side about--right-subItem">
      <p>{{{sectionContentSplit.rightSideBySideRight}}}</p>
    </div>
  </div>
</div>