<div class="col-md-4 textCenter about--left">
  <h1 class="bold noPadding"> {{{sectionContentSplit.leftContent}}}</h1>
</div>
<div class="col-md-6 col-md-offset-1 about--right">
  <p class="noPadding">{{{sectionContentSplit.rightContent}}}</p>
  <div class="about--right-sub paddingTop25 font-xs bold">
    <div class="side-by-side about--right-subItem">
      <p>{{{sectionContentSplit.sideBySideLeft}}}</p>
    </div>
    <div class="side-by-side about--right-subItem">
      <p>{{{sectionContentSplit.sideBySideRight}}}</p>
    </div>
  </div>
</div>