<div class="col-sm-11 col-md-6  blockquote--left">
  <h1 class="bold block-quote">{{{sectionContent.quote}}}</h1>
  <p class="bold block-quote-auther paddingTop5">{{{sectionContent.auther}}}</p>
</div>
<div class="col-md-6 col-md-offset-1 blockquote--right">

</div>