<div class="col-md-4 textCenter paddingBottom20 blockquote--left">
  <p class="no-padding bold block-quote"> {{{sectionContent.quote}}}</p>
  <p class="no-padding bold block-quote-auther">{{{sectionContent.auther}}}</p>
</div>
<div class="col-md-6 col-md-offset-1 blockquote--right">

</div>