<div class="col-sm-11 hero-text">
  <h1 class="bold"> {{&heroText}}</h1>
</div>
<div class="col-sm-11 hero-text" style="top: -20px;">
  <a href="{{& link}}" class="WM-banner-link">{{&subText}}</a>
</div>

  

