<div class="col-md-4 textCenter join-now--left">
  <h1 class="bold header--onlybottom-padded"> {{{sectionContentSplit.leftContent}}}</h1>
</div>
<div class="col-md-6 col-md-offset-1 join-now--right">
  <p class="noPadding">{{{sectionContentSplit.rightContent}}}</p>
  <div class="join-now--right-sub paddingTop25 font-xs bold">
    <div class="side-by-side join-now--right-subItem">
      <p class="noPadding">{{{sectionContentSplit.sideBySideLeft}}}</p>
    </div>
    <div class="side-by-side join-now--right-subItem">
      <p class="noPadding">{{{sectionContentSplit.sideBySideRight}}}</p>
    </div>
  </div>
</div>