<div class="col-md-4 textCenter join-now--left">
  <h1 class="bold"> {{{sectionContentSplit.leftContent}}}</h1>
</div>
<div class="col-md-6 col-md-offset-1 join-now--right">
  <p>{{{sectionContentSplit.rightContent}}}</p>
  <div class="join-now--right-sub paddingTop25 font-xs bold">
    <div class="side-by-side join-now--right-subItem">
      <p>{{{sectionContentSplit.sideBySideLeft}}}</p>
    </div>
    <div class="side-by-side join-now--right-subItem">
      <p>{{{sectionContentSplit.sideBySideRight}}}</p>
    </div>
  </div>
  <div class="paddingTop25">{{{sectionContentSplit.sideBySideBottom}}}</div>
</div>