<div class="col-md-4 textCenter paddingBottom20 membership--left">
  <h1 class="bold noPadding"> {{{sectionContentSplit.leftContent}}}</h1>
</div>
<div class="col-md-6 col-md-offset-1 membership--right">
  <p class="noPadding">{{{sectionContentSplit.rightContent}}}</p>
  <div class="membership--right-sub paddingTop25 font-xs bold">
    <div class="side-by-side membership--right-subItem">
      <p class="noPadding">{{{sectionContentSplit.sideBySideLeft}}}</p>
    </div>
    <div class="side-by-side membership--right-subItem">
      <p class="noPadding">{{{sectionContentSplit.sideBySideLeft}}}</p>
    </div>
  </div>
</div>