.bwg-item0 {
  color: $black;
  background-color: transparent !important;
  border: none !important;
}

.bwg-title2 {
  color: $black !important;
  font-family: 'Heebo', sans-serif !important;
  font-weight: normal !important;
}