.clear-container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.textCenter {
  text-align: center;
  margin: auto;
}

// margin factory
$spaceamounts: (0,5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
55,
60,
65,
70,
75,
100); // Adjust this to include the pixel amounts you need.
$sides: (Top, Bottom, Left, Right); // Leave this variable alone

@each $space in $spaceamounts {

  .margin#{$space} {
    margin: #{$space}px !important;
  }
  .padding#{$space} {
    padding: #{$space}px !important;
  }

  @each $side in $sides {
    .margin#{$side}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .padding#{$side}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}


.bold {
  font-weight: bold;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noPadding {
  padding: 0 !important;
}

.font-xs {
  font-size: $text-xs;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.displayFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inlineBlock {
  display: inline-block;
}


