.section-hero {
  height: 600px;
  @include respond-to(sm) {
    height: 650px;
  }
  @include respond-to(md) {
    height: 700px;
  }
  @include respond-to(lg) {
    height: 800px;
  }
}

.WM-background-image-container {
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero-text {
  color: $white;
}

.section-membership{

  .membership--right{
    font-size: $base--text-size;
    .side-by-side{
      p {
        &:nth-child(1) {
          padding-bottom: 10px;
        }
      }
    }
  }

  .membership--right-sub {
    display: flex;
    justify-content: space-between;
    .membership--right-subItem {
      flex: 0 0 calc(50% - 0.5em);
      @include respond-to(sm) {
        margin-left: 10%;
        margin-right: 10%;
        flex: 0 0 calc(30% - .5em);
      }
      @include respond-to(lg) {
        margin: 0;
        flex: 1;
      }

    }
  }
}

.section-open-hours {
  background-color: $lighter-gray;
  text-align: center;

  .WM-button {
    @extend .textCenter;
    @include respond-to(sm) {
      float: none;
    }

    @include respond-to(lg) {
      float: right;
    }
  }

  .section-open-hours--time{
    position: relative;
    left: 0%;

    @include respond-to(lg) {
      left: -8%;
    }
  }
}

.blockquote--left{
    h1 {
      &:nth-child(1) {
        font-size: $base--text-size;

        &::before {
          content: '\201C';
          position: relative;
          font-size: $base--text-size;
          color: $black;
        }
  
        &::after {
          content: '\201D';
          position: relative;
          font-size: $base--text-size;
          color: $black;
        }
      }
    }
    p {
      font-size: $text-xs;
      &::before {
       content: '\2014';
       position: relative;
       font-size: $base--text-size;
       color: $black;
     }
   }
}

