.section-hero {
  height: 500px;
  position: relative;
}

.WM-background-image-container {
  background-size: cover;
  background-position: center;
  display: block;
  height: 500px;
  background-repeat: no-repeat;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero-text {
  color: $white;
  padding-left: 10%;
  
  @include respond-to(lg) {
    padding-left: 8%
  }
}

.section-membership{
  .membership--right{
    font-size: 15px;
  }
}