.image-container {
  background-size: cover;
  background-position: center;
  display: block;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
}



