.main-navigation {
  position: absolute;
  top: 0;
  right: 10%;
  background: transparent;
  z-index: 5;
  ul > li {
    display: inline-block;
    padding: 15px 30px 15px 30px;
    margin-left: 10px;
    a {
      text-decoration: none;
      color: $white;
    }
    &:hover {
      background-color: $yellow;
      color: $black;
      >a {
        color: $black;
      }
    }
  }
}