.navigation-top {
  position: relative;
}

.WM-nav-logo {
  margin: 3% 9%;
  float: left;

  @include respond-to(md) {
    margin: 0 0 0 4%;
  }
}

.main-navigation {
  display: none;
  @include respond-to(md) {
    display: block;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 20px 0 20px 0; 
    height: 100px;
    ul {
      float: right;
      > li {
        display: inline-block;
        
        margin-left: 10px;
        a {
          text-decoration: none;
          padding: 15px 30px 15px 30px;
          color: $white;
          &:hover {
            background-color: $yellow;
            color: $black;
            >a {
              color: $black;
            }
          }
        }
      }
    }
  }
}


.main-navigation-front {
  @extend .main-navigation;
  background: linear-gradient($black, rgba(0,0,0,0.001));
  position: absolute;
}

.main-navigation-other {
  @extend .main-navigation;
  position: relative;
  ul {
    float: right;
    > li {
      a {
        color: $black;
      }
    } 
  }
}

.menu-main-menu-container {
  padding-right: 4%;
}

.main-navigation-mobile {
  display: block;
  position: absolute;
  right: 5%;
  top:0;
  z-index: 5;
  width: 100%;
  @include respond-to(md) {
    display: none;
  }

  .nav-list-container{
    display: none;
    width: 70%;
    position: absolute;
    top: 0;
    background-color: $dark-gray;
    opacity: 0.9;
    right: 0;
    height: 100vh;
    transform: translate(12%);

    ul {
      margin-top: 15%;
      padding-left: 15%;
      > li {
        list-style: none;
        padding-top: 40px;
        >a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}


/* 
* Mobile nav styles
*/

.nav-toggle {
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
  margin: 3% 0;
  z-index: 8;
  background-color: #0e0e0e7d;
  border-radius: 100%;
  height: 42px;
  float: right;
}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*='bar-'] {
  background: $white;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          transition: .2s ease all;
  height: 2px;
  width: 22px;
  margin-bottom: 5px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened {
  background-color: transparent;

  .bar-top {
    -webkit-transform: rotate(41deg);
            transform: rotate(41deg);
    -webkit-transform-origin: 0% 15%;
            transform-origin: 0% 15%;
  }

  .bar-mid {
    opacity: 0;
  }

  .bar-bot {
    -webkit-transform: rotate(-41deg);
            transform: rotate(-41deg);
    -webkit-transform-origin: 0% 95%;
            transform-origin: 0% 95%;
  }
}
