.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

.sticky {
  position: fixed;
  width: calc(100% - 30px);
  height: auto;
  padding: 0;
  @extend .fade-in;

  .WM-nav-logo {
    padding-top: 8px;
    text-decoration: none;
    img {
      height: 50px;
    }
    &:after {
      content: 'WM BADMINTON';
      color: $white;
      font-size: $text-xs;
      font-weight: bold;
      position: relative;
      vertical-align: top;
      top: 17px;
      padding-left: 10px;
    }
  }

  .menu-main-menu-container {
    ul > li {
      font-size: $text-xs;
      display: inline-block;
      padding: 8px 10px;
      margin-left: 20px;
    }
  }
}

