.trainers-card {
  width: 100%;
  height: auto;
  @include respond-to(md) {
    width: 320px;
  }
}

.trainer-profile-img {
  height: 200px;
  width: 100%;
  background-color: $light-gray;
  background-size: cover;
  //background-position: center;
  background-repeat: no-repeat;
}

.trainer-img{
width: 100%;

  @include respond-to(md){
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    width: 300px;
  }
}

.section-trainers {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .headCoachProfileImage {
    justify-self: stretch;
    grid-column-start: 1;
  }

  @include respond-to(md) {
    .grid {
      grid-template-columns: 1.5fr 2fr;
      grid-gap: 2rem;
    }

  }
}

// Trainer detail page 

.trainer-details {
  p {
    line-height: 2em;
  }
}
