.section--height {
  min-height: 650px;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: $base--font-size;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  margin: 0;

  @include respond-to(md) {
    line-height: 1.5em;
  }
}

p {
  margin: 0 !important;
  font-size: 1em;
}

a, u {
  text-decoration: none;
}

// section header font size
h3,
.text-heading-sm {

  font-size: $text-sm !important;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  padding: $vertical--space-sm 0 !important;

  @include respond-to(sm) {
    font-size: calc(1 * #{$text-sm}) !important;
  }

  @include respond-to(md) {
    font-size: calc(1.2 * #{$text-sm}) !important;
    padding: $vertical--space-md 0 !important;
  }

  @include respond-to(lg) {
    font-size: calc(1.3 * #{$text-sm}) !important;
    padding: $vertical--space-lg 0 !important;
  }
}


h2,
.text-heading-md {
  font-size: $text-md !important;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  padding: $vertical--space-sm 0 !important;

  @include respond-to(sm) {
    font-size: calc(1 * #{$text-md}) !important;
  }

  @include respond-to(md) {
    font-size: calc(1.2 * #{$text-md}) !important;
    padding: $vertical--space-md 0 !important;
  }

  @include respond-to(lg) {
    font-size: calc(1.3 * #{$text-md}) !important;
    padding: $vertical--space-lg 0 !important;
  }
}

h1,
.text-heading-lg {

  font-size: $text-lg !important;
  font-weight: 400;
  display: inline-block;
  margin: 0 !important;
  padding: $vertical--space-sm 0 !important;
  line-height: 1.25em;

  @include respond-to(sm) {
    font-size: calc(1 * #{$text-lg}) !important;
  }

  @include respond-to(md) {
    font-size: calc(1.3 * #{$text-lg}) !important;
    padding: $vertical--space-md 0 !important;
  }

  @include respond-to(lg) {
    font-size: calc(1.6 * #{$text-lg}) !important;
    padding: $vertical--space-lg 0 !important;
  }
}

//headers only bottom padding

.header--onlybottom-padded {
  padding: 0 0 24px 0 !important;
}

